#thirdDiv {
    height: 600px;width: 500px;
    background-color: lightpink;
    padding: 50px;border: 2px solid deeppink;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
}

#spanID {
    font-size: 18px;
    margin: 50px;
}
.divClass h1 {
    color: crimson;  
    display: flex;
    justify-content: center;
}

.divClass h3 {
    display: flex;
    justify-content: center;
    align-items: center
}

.divClass h4 {
    display: flex;
    justify-content: center;
    align-items: center
}
.divClass span #spanId{
    font-size: 18px;
    margin: 50px;
   }

#thirdDiv ul li img {
    width: 480px;
}
